<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyers</title>
</head>
<body>
    <h1>Hello user!</h1>
    <hr>
    <h4>New buyere? Register here:</h4>
    <a href="/create_buyer"><button>create</button></a>

<table>
{% for buyer in buyers %}
    <tr>
        <td>{{buyer.first_name}} {{buyer.last_name}} {{buyer.phone_number}}</td>

    </tr>




{% endfor %}







</table>

</body>
</html>