<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to shop</h1>
    <hr>
    <h3>Flowers:</h3>
<div>
    <table>
        <tr>
            {% for flower in flowers %}
            <td>{{flower.flower_type}}</td>
            
           
        </tr>     
        <tr>
            <td>Price : </td>
            <td> - {{flower.amount}}</td>
            <td><a href="/flowers/buy/{{flower.id}}"><button>buy me!</button></a></td>
        </tr>
          {% endfor %}  
    </table>
</div>
</body>
</html>