<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to shop</h1>
    <hr>
    <h3>Flowers:</h3>
<div>
    <table>
        <tr>
            <td>
                Tulips 
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>100$</td>
        </tr>
        <tr>
            <td>
                <a href=""><button>buy me!</button></a>
            </td>
        </tr>
        <tr>
            <td>
                Tulips 
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>100$</td>
        </tr>
        <tr>
            <td>
                <a href=""><button>buy me!</button></a>
            </td>
        </tr>
        <tr>
            <td>
                Tulips 
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>100$</td>
        </tr>
        <tr>
            <td>
                <a href=""><button>buy me!</button></a>
            </td>
        </tr>
        <tr>
            <td>
                Tulips 
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{price}}</td>
        </tr>
        <tr>
            <td>
                <a href=""><button>buy me!</button></a>
            </td>
        </tr>
        
    </table>
</div>
</body>
</html>