<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>{{ user.first_name }} {{user.last_name}}</h1>

    {% for book in user.books %}
        <table>
            <tr>
                <td><strong>{{book.title}}</td></strong>
                <td>{{book.author}}</td>             
            </tr>
            <tr>
                <td>{{book.thoughts}}</td>
                <td><a href="/book/edit/{{book.id}}"><button>click here</button></a></td>
            </tr>
        </table>
    {% endfor %} 


    
    
</body>
</html>